body {font-family: Arial, Verdana, sans-serif; 
    background-image: url(.C:\Users\maryj\Desktop/HTMLSTUFF/Images/Stardewvalley2.gif);
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
    height: 120px;}
@font-face { 
      font-family: Star; 
      font-weight: bold; 
      src: url(../Fonts/Stardew_Valley_ALL_CAPS.ttf);
  }
  @font-face { 
      font-family: Gojo; 
      font-weight: bold;
      src: url(../Fonts/Stardew_Valley_Regular.ttf);
  }
.Stardew{
  cursor: url(../Cursor/Stardewcursor.cur);
}
h1 {background-color: #59C9F1; color: #DDA059;
   font-family: Gojo;
   text-align: center;
   line-height: 200%;
   word-spacing: 2em;
   text-shadow: 5px 5px 5px #182628;
   border-width: 3px;
   border-style: ridge;
   border-color: = #cccccc;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
   border-radius: 50px;
   opacity: 0.9;}
h2 {background-color:#59C9F1, color: #6B3710;  
    font-family: Gojo;
    text-align: center;
    line-height: 150%;
    text-shadow: 5px 3px 7px #f2f2f2;
    border-bottom: 10px, dashed, #000000;
     font-size: 50px;
     letter-spacing: 0.5em;}
p {font-size: 0.9em;
    text-indent: 3em;
    text-align: center;}
 nav {font-weight: bold;
    text-align: center;
    padding: 15px;
    opacity: 0.7;}
 dt {font-weight: bold;
    letter-spacing: 3px;}
 audio{
 opacity: 0%
 }
 a:visited{
text-decoration: none;
color: Black;
}